/* Estilos generales */
body {
  font-family: Garamond;
  font-size: 20px;
  color: #5A275A;
  margin: 0;
  padding: 0;
  background-color: #D4B5CB;
}

header, footer {
  font-family: Garamond;
  text-align: center;
  background-color: #DCC9ED;
  padding: 10px;
  box-shadow: 0 0 12px rgba(136, 4, 72, 0.4);
}

.titulo-principal {
  color: #C7389C;
  font-style: italic;
}

main {
  padding: 20px;
}

/* Menú de navegación */
nav:hover {
  background-color: #E7C4F7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(136, 4, 72, 0.3);
  margin-top: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #772C6A;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #C7389C;
}

/* Secciones */
section {
  background-color: #F8DCF2;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(165, 65, 117, 0.6);
  max-width: 800px;
}

h2, h3, h4 {
  color: #AF85D6;
  text-align: center;
}

ol {
  color: #B14E83;
  font-family: "Times New Roman", serif;
}

li {
  color: #E324B6;
  margin-bottom: 6px;
}

/* Galería de libros */
.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.imagenes img {
  width: 140px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(165, 65, 117, 0.77);
  transition: transform 0.3s ease;
  transition: background-color 0.3s;
}

.imagenes img:hover {
  transform: scale(1.05);
  background-color: #F87C63;
}

/* Sección de series */
.series {
  background-color: #F9E6FF;
}

.lista-series li {
 
  margin-bottom: 5px;
  color: #7509C8;
  font-family: "Times New Roman", serif;

}

.imagenes-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.imagenes-series img {
 width: 140px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(165, 65, 117, 0.77);
  transition: transform 0.3s ease;
  transition: background-color 0.3s;
}

.imagenes-series img:hover {
  transform: scale(1.05);
   background-color: #F87C63;
}

/* Contacto */
.contact {
  background-color: #f4e4fc;
  padding: 4rem 1rem;
  text-align: center;
}

.contact h2 {
  font-family: "Playfair Display", serif;
  color:#d81b8f;
}

form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: #d81b60;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #f183b3;
}

/* Footer */
footer p {
  font-size: 0.9em;
  color: #772C6A;
}
nav{

   width: 100%;
  padding: 8px;
  margin-top: 6px;
  border: 1.5px solid #C9E5ED;
  border-radius: 6px;
  font-family: inherit;
  
}
